.addItemModel{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 37.5em;
    height: 38em;
    padding: 0.5em 0 0 0;
    background-color: #DBDFFD;
    border-radius: 0.5em;
}

.addItemModel h2{
    font-family: Inter;
    padding: 1.75em 0 0.25em 0;
}

.addItemForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addItemformField{
    width: 27.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.addItemformField h5{
    font-family: Inter;
    font-weight: 600;
    font-size: 0.75em;
}

.addItemformFieldButtons{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 18em;
    justify-content: space-between;
    padding: 2em 0;
}