body{
    font-family: Inter;
  }
  .generated-request {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 37.5em;
    background-color: #DBDFFD;
    width:100%;
    text-align: center;
  
  }
  .outer{
    display: flex;
    justify-content: center;
  }
  
  .refundRequestDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 38em;
    padding: 0 0 1em 0;
    background-color: white;
    border-radius: 0.5em;
}

.formField{
    width: 20em;
    height: 3.25em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.textField{
    padding: 0 0 0 1em;
}

.textField h5{
    font-family: Inter;
    font-weight: 700;
    font-size: 0.8em;
}

.inputData{
    width: 8em;
    text-align: left;
}

.inputData h6{
    font-family: Inter;
    font-weight: 500;
    font-size: 0.65em;
}