body {
  font-family: Inter;
}

.generated-request {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:35em;
  background-color: #DBDFFD;
  width: 90%; /* Adjusted width */
  text-align: center;
  padding: 2em; /* Added padding for better spacing */
  border-radius: 1em; /* Optional: rounded corners */

}

.outer {
  display: flex;
  justify-content: center;
  padding: 1em; /* Added padding for better spacing */
}

.refundRequestDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45em; /* Adjusted width */
  padding: 1em; /* Adjusted padding */
  background-color: white;
  border-radius: 0.5em;
}

.formField {
  width: 25em; /* Adjusted width */
  height: 3.25em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.textField {
  height: 2em;
}

.textField h5 {
  font-family: Inter;
  font-weight: 700;
  font-size: 0.8em;
}

.inputData {
  width: 10em; /* Adjusted width */
  text-align: left;
}

.inputData h6 {
  font-family: Inter;
  font-weight: 500;
  font-size: 0.65em;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 0;
}

.outer {
  transition: background-color 0.5s;
}
