.inventoryDetailsOuter{
    align-content: center;
    min-height: 36em;
    padding: 0 1.5em 0 1.5em;
}

.inventoryDetailsInner{
    display: flex;
    height: 34em;
}

.productImage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 36em;
    margin-left: 10em;
    padding-top: 4em;
}

.productDetails{
    width: 62.5%;
    padding: 2.1em 0 0 2em;
}

.productTopic{
    width: 35em;
    text-align: left;
    margin-bottom: 2.5em;
    padding-top: 0.25em;
}

.productTopic h1{
    font-size: 2.25em;
    font-family: Inter;
    color: #242F9B;
}

.productDataOuter{
    width: auto;
}

.productDetailOuter{
    margin-bottom: 1em;
}

.productDetail{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.productDetailTopic{
    margin: 0 1em 0 0;
}

.productDetailTopic h3{
    font-size: 1em;
    font-weight: 700;
    margin-top: 0.2em;
}

.loadedProductDetail h3{
    font-size: 0.9em;
    font-weight: 450;
    margin-top: 0.2em;
}

.supplierDetail{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.supplierDetailTopic{
    margin: 0 1em 0 0;
}

.supplierDetailTopic h3{
    font-weight: 700;
    font-size: 1em;
    color: #7c7cdc;
}

.loadedSupplierDetail h3{
    font-size: 0.9em;
    font-weight: 450;
    color: #797979;
}

.productDetailButtons{
    width: 35em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
}