.addSupplierItemOuter {
    display: flex;
    width: 80em;
    height: 37.5em;
    background-color: rgb(240, 240, 245);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 0.5em;
}

.addSupplierItemInner{
    display: flex;
    align-items: center;
    width: 100%;
    height: 37.5em;
    border-radius: 0.5em;
}

.item-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 35.5em;
    border-radius: 5px 0 0 5px;
    width: 40%;
    background-color: #adbbda;
}

.item-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 60%;
}

.item-form-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.item-form-field-label {
    text-align: left;
    width: 30%;
}

.item-input-field {
    width: 50%;
}

.item-input-field input, .item-input-field .MuiFormControl-root, .item-input-field .MuiInputBase-root {
    width: 100%;
}

.addItemButtons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0.5em 0 1.5em 0;
}
