.addSupplierItemOuter {
    display: flex;
    width: 80em;
    height: 40em;
    background-color: #DBDFFD;
    border-radius: 0.5em;
}

.item-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35em;
    padding: 1em;
}

.item-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 45em;
    padding: 2em;
}

.item-form-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.item-form-field-label {
    text-align: left;
    width: 30%;
}

.item-input-field {
    width: 50%;
}

.item-input-field input, .item-input-field .MuiFormControl-root, .item-input-field .MuiInputBase-root {
    width: 100%;
}

.addItemButtons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 3em;
}
