.viewInventoryOuter{
    display: flex;
}

.viewInventoryFilter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 14.375em;
    height: 36.03em;
    background-color: #646FD4;
}

.itemCategoryFilter{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemAvailabilityFilter{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.applyButton{
    margin: 3em 0 0 0;
}

.filterHeader h2{
    color: rgba(255, 255, 255, 0.8);
    text-decoration: underline;
}

.itemCategoryTopic h5{
    color: rgba(255, 255, 255, 0.8);
}

.itemAbailabilityTopic h5{
    color: rgba(255, 255, 255, 0.8);
}

.viewInventoryInner{
    width: 81.25em;
    height: 36.03em;
    background-color: rgba(219, 223, 253, 0.8);
}

.searchAndButtons{
    display: flex;
    width: 81.25em;
    padding: 0.5em 0 0 0;
    justify-content: space-between;
}

.viewInventorySearch{
    display: flex;
    align-items: center;
    padding: 0 0 0 2em;
}

.viewInventoryButtons{
    display: flex;
    align-items: center;
    width: 15.625em;
    justify-content: space-between;
    padding: 0 1.95em 0 0;
}