.invPaymentDashboardOuter{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d2d5f5;
}

.invPaymentDashboardInner{
    width: 90%;
    max-width: 1200px;
    margin-top: 1.5em;
}

.invSearchContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1em;
}
.invPaymentDashboard{
    width: 100%;
    height: 35em;
}

