.viewOrderModel{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 37.5em;
    height: 38.75em;
    padding: 0.25em 0 0 0;
    background-color: #DBDFFD;
    border-radius: 0.5em;
}

.viewOrderModel h2{
    font-family: Inter;
    padding: 1.25em 0 0 0;
}

.viewOrderForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 7.5rem;
    width:30rem;
}

.formField{
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0.1em 0 0 0;
}

.idInput{
    width: 59%;
}

.formField h5{
    font-family: Inter;
    font-weight: 600;
    font-size: 0.75em;
}

.viewOrderForm{
    margin-top: 0.3em;
}

.formFieldButtons{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 16.25em;
    justify-content: space-between;
    margin: 2em 2 0.12em;
}