.Catalogouter{
    display: grid;
    grid-template-columns: 10em 1fr;
    height : 80%;
}

.customerItemGrid{
    margin-top: 5em;
    margin-left: 10em;
    margin-bottom: 5em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: -5em;
    row-gap: 3em;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white !important;



}

.sidebar{

    background-color:#DBDFFD;
    display: flex;
    flex-direction: column;
    width: 18.5em;
    float: left;
    padding-top: 3em;
    line-height: 3em;
    justify-content: left;
    justify-items: left;
}

.content{

    display: flex;
    align-items: center;
    justify-content: left;
    width: 80%;


}

.content-cart-button{

    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;


}

.label{
    margin-left: -3em;
}