.inv_inner_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40em;
    background-color: #DBDFFD;
    max-width:100%;
    margin-top: -2em;
    padding-bottom: 20em;
}
  


  