.paymentDashboardOuter {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d2d5f5;
}

.paymentDashboardInner {
    width: 90%;
    max-width: 1200px;
    margin-top: 1.5em;
}

.payment-title {
    margin-bottom: 20px;
}


.paymentDashboard {
    width: 100%;
    height: 35em;
}

.modalBox {
    padding: 16px;
    background-color: #ffffff;
}


