.CustomerOrdersOuter{
    width: 100%;
    height: 100%;
    
}

.CustomerOrdersInner{
    width: 100%;
    background-color: #DBDFFD;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*.customerTitle{
    text-align: left;
}*/
.customerOrdersTopicWithTextfield{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 87em;
    margin: 2em 0 2em 0;
}

.customerOrdersTopic h2{
    margin: 0;
    font-family: Inter;
    font-size: 1.3em;
}