.CustomerOrdersOuter{
    width: 100%;
    height: 100%;
}

.CustomerOrdersInner{
    width: 100%;
    background-color: #DBDFFD;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 37.625em;
}

.orderHistory{
    width: 85%;
    height: 37.625em;
}

.customerOrdersTopicWithTextfield{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 87em;
    margin: 2em 0;
}

.customerOrdersTextField{
    margin: 0 3.5em 0 0;
}

.customerOrdersTopic h2{
    margin: 0 0 0 3.5em;
    font-family: Inter;
    font-size: 1.3em;
}