.adminProfileInner{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30.5em;
    height: 40em;
    padding: 0.25em 0 0 0;
    background-color: #DBDFFD;
    border-radius: 0.5em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.adminProfileInner h2{
    font-family: Inter;
    padding: 1.25em 0 0 0;
}

.profileAvatar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.adminProfileForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 37.5em;
    overflow: auto;
}

.adminProfileFormField{
    width: 27.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.25em!important;
}

.adminProfileFormField h5{
    font-family: Inter;
    font-weight: 600;
    font-size: 0.75em;
}

.adminProfileForm{
    margin-top: 0.3em;
}

.adminProfileFormFieldButtons{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 16.25em;
    justify-content: space-between;
    margin: 2em 0 0 0;
    padding-bottom: 3em;
}

.error-message {
    color: red;
    font-size: 0.875em;
    margin-top: -10px;
    margin-bottom: 10px;
}