.supplierViewInventoryOuter {
    display: flex;
    justify-content: center;
}

.supplierViewInventoryInner {
    width: 100%;
    height: 35em;
    background-color: rgba(219, 223, 253, 0.8);
    padding: 1em 0;
}

.supplierInventory{
    font-size: 1.3em;
    text-align: left;
    margin-left: 5.5em;
}

.supplierInvSearchAndButtons {
    display: flex;
    width: 87em;
    justify-content: space-between;
    margin-left: 1em;
}

.supplierViewInventorySearch {
    display: flex;
    align-items: flex-start;
    padding: 0 0 0 1em;
}

.supplierViewInventoryButtons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.supplierItemTable {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

table {
    width: 100%;
    position: relative;
}

thead {
    position: sticky;
    top: 0;
    background-color: #f1f1f1;
    z-index: 1;
}

::-webkit-scrollbar {
    width: 11px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #cacad0;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(175, 175, 178, 0.74);
}
