.supplierViewInventoryOuter {
    display: flex;
    justify-content: center; /* Centering the content horizontally */
}

.supplierViewInventoryInner {
    width: 100%;
    max-height: 36.03em; /* Changed height to max-height */
    background-color: rgba(219, 223, 253, 0.8);
    padding: 1.5em 0; /* Removed padding from right and left */
}

.supplierSearchAndButtons {
    display: flex;
    width: 95%;
    padding: 0.5em 0; /* Removed padding from right and left */
    justify-content: space-between;
}

.supplierViewInventorySearch {
    display: flex;
    align-items: center;
    padding-left: 2em; /* Adjusted left padding */
}

.supplierViewInventoryButtons {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align buttons to the right */
    width: 50%; /* Adjusted width */
}

.supplierItemTable {
    padding: 2em 0 2em 3em; /* Removed padding from right and left */
    margin-bottom: 5em;
}

table {
    width: 90%; /* Added to make the table responsive */
    position: relative;
}

thead {
    position: sticky;
    top: 0;
    background-color: #f1f1f1;
    z-index: 1;
}

::-webkit-scrollbar {
    width: 11px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #cacad0;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(175, 175, 178, 0.74);
}
