.viewCustomerOrdersOuter{
    width: 100%;
    height: 100%;
}

.viewCustomerOrdersInner{
    padding-top: 1.5em;
    width: 100%;
    height: 40em;
    background-color: #DBDFFD;
}

.viewCustomerOrders-title{
    text-align: left;
    margin-left: 7em;
}

.viewCustomerOrders{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
