.customerProfileManagementOuter{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.customerProfileManagementInner{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 92.875em;
    height: 33em;
    background-color: #DBDFFD;
    margin: 1.5em 0 0 0;
    border-radius: 0.5em;
}

.customerProfileManagementTopic h2{
    font-family: Inter;
    margin: 1.45em 0 0 0;
}

.customerProfileManagementDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 38em;
    margin: 1.8em 0 0 0;
    padding: 1.5em 0 1em 0;
    background-color: white;
    border-radius: 0.5em;
}

.formField{
    width: 20em;
    height: 3.25em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.textField{
    padding: 0 0 0 1em;
}

.textField h5{
    font-family: Inter;
    font-weight: 700;
    font-size: 0.8em;
}

.inputData{
    width: 8em;
    text-align: left;
}

.inputData h6{
    font-family: Inter;
    font-weight: 500;
    font-size: 0.65em;
}

.refundButtonField{
    width: 38em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    margin: 1.25em 0 0 0;
}