
:root {
    --blue: #242F9B;
    --pale-blue: hsl(223, 100%, 94%);
    --vd-blue: hsl(220, 13%, 13%);
    --d-grayish-blue: rgb(104, 112, 125);
    --grayish-blue: hsl(220, 14%, 75%);
    --l-grayish-blue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
}


button {
    cursor: pointer;
    border: none;
    font-family: inherit;
    background-color: unset;
}

.activated {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 99;
    border: 0.16rem solid var(--blue); 
    border-radius: 0.5rem; 
    background-color: #e3dfdfab;
}

@media (min-width: 615px) {
    .hide-in-desktop {
        display: none;
    }
}

@media (max-width: 615px) {
    .hide-in-mobile {
        display: none;
    }
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.productDetailBody {
    max-height: 100vh;
    max-width: 100vw;
    width: 100vw;
    min-width: 100vw;
    overflow-y: clip;
}

.relatedProducts {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-right: 0;
    margin-left: 3rem;

}

.realatedProductDetailCore {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 70vh; 
    max-height: 70vh; 
    overflow-y: auto;
    margin-right: 0.8rem;
}

.productDetailsection {
    width: 100vw !important;
    max-width: 100vw !important;
    min-width: 100vw;
    display: flex;
    overflow-x: clip;
    flex-direction: column;
    align-content: center;
    align-items: center;
    max-height: 90vh; 
    overflow-y: auto;
    margin: 0;
    font-size: 13.8px;
}

.productDetailIntter {
    display: flex;
    width: 100vw;
}

.productDetailCore {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%; 
    margin: 3.2rem;
    gap: 3.2rem;
}

.productDetailReviewInner{
    max-height: 50em;
    /*height: 50em;*/
    overflow-y: auto;
    /*margin-right: 1em;*/
}

.productDetailReviewSection,
.productDetailReviewSubmitSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5rem;
    padding-left: 0;
    width: 100%; 
    margin-bottom: 3.2rem;
}

@media (max-width: 793px) {
    .productDetailCore {
        gap: 2.8rem;
    }
}

@media (max-width: 615px) {
    .productDetailCore {
        width: auto;
        margin: auto;
        flex-direction: column;
        margin-bottom: 3.2rem;
    }
}

.productDetailDescription {
    flex-basis: 50%; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 2rem;
}

@media (max-width: 615px) {
    .productDetailDescription {
        padding: 1rem;
        margin-top: 2rem;
    }
}

.productDetailDescription p.pre {
    color: var(--blue);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 0.16rem;
    margin: 0;
}

.productDetailDescription h1 {
    color: var(--vd-blue);
    text-transform: capitalize;
    font-weight: 700;
    font-size: 3rem;
    margin: 0;
}

@media (max-width: 615px) {
    .productDetailDescription h1 {
        font-size: 2.8rem;
        margin: 0;
    }
}

.productDetailDescription p.desc {
    color: var(--d-grayish-blue);
    font-weight: 500;
    line-height: 1.36; 
}

@media (max-width: 615px) {
    .productDetailDescription p.desc {
        line-height: 1.28; 
        margin: 0;
    }
}

.productDetailDescription s {
    color: var(--grayish-blue);
}

.productDetailDescription .price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;
}

@media (max-width: 615px) {
    .productDetailDescription .price {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
}

.productDetailDescription .price p {
    margin: 0;
}

.productDetailDescription .price .main-tag {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.productDetailDescription .price .main-tag p:first-of-type {
    color: var(--vd-blue);
    font-size: 2rem;
    font-weight: 700;
}

.productDetailDescription .price .main-tag p:last-of-type {
    color: var(--blue);
    background-color: var(--pale-blue);
    padding: 0.24rem 0.8rem;
    border-radius: 0.4rem;
    font-weight: 700;
}

.productDetailDescription .price s {
    font-weight: 700;
}

.productDetailDescription .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
}

@media (max-width: 615px) {
    .productDetailDescription .buttons {
        flex-direction: column;
    }
    .productDetailDescription .buttons > * {
        width: 100%;
    }
}

.productDetailDescription .buttons .amount {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 0.8rem;
    width: 9rem;
    background-color: hsl(226.7, 42.9%, 95.9%);
    border-radius: 0.56rem;
}

@media (max-width: 793px) {
    .productDetailDescription .buttons .amount {
        width: 7.5rem;
    }
}

@media (max-width: 615px) {
    .productDetailDescription .buttons .amount {
        width: 100%;
    }
}

.productDetailDescription .buttons .amount .minus {
    display: flex;
}

.productDetailDescription .buttons .amount p {
    font-weight: 700;
    margin: 0;
}

.productDetailDescription .buttons .add-to-cart {
    padding: 0.8rem 2rem;
    background-color: var(--blue);
    color: #fff;
    text-transform: capitalize;
    font-weight: 700;
    border-radius: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex: 1;
    transition: 0.24s;
    box-shadow: 0 2.4rem 1.6rem -0.64rem var(--pale-blue);
}

@media (max-width: 793px) {
    .productDetailDescription .buttons .add-to-cart {
        flex: unset;
        padding: 0.8rem 1.6rem;
    }
}

.productDetailDescription .buttons .add-to-cart:hover {
    opacity: 0.6;
}

.productDetailDescription .buttons .add-to-cart svg path {
    fill: #fff;
}

.ProductDetailGallery {
    flex-basis: 40%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.ProductDetailGallery .image img {
    max-height: 22.75rem;
    /*height: 22.75rem;*/
    width: 24.75rem;
    border-radius: 0.4rem;
    cursor: pointer;
}

@media (max-width: 793px) {
    .ProductDetailGallery .image img {
        height: 17.5rem;
    }
}

.ProductDetailGallery .thumbnails {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.ProductDetailGallery .thumbnails .img-holder {
    position: relative;
    height: 4.5rem;
    width: 4.5rem;
}

@media (max-width: 793px) {
    .ProductDetailGallery .thumbnails .img-holder {
        height: 3.75rem;
        width: 3.75rem;
    }
}

.ProductDetailGallery .thumbnails img {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 0.4rem;
    cursor: pointer;
}

@media (max-width: 793px) {
    .ProductDetailGallery .thumbnails img {
        height: 3.75rem;
    }
}

.ProductDetailGallery .backdrop .backdrop-content {
    width: 20.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem;
}

.ProductDetailGallery .backdrop .backdrop-content .image {
    position: relative;
}

.ProductDetailGallery .backdrop-content .image .icon-button-prev {
    position: absolute;
    left: -1rem;
    top: 50%;
    transform: translateY(-50%);
}

.ProductDetailGallery .backdrop-content .image .icon-button-next {
    position: absolute;
    right: -1rem;
    top: 50%;
    transform: translateY(-50%);
}

.ProductDetailGallery .backdrop .thumbnails {
    position: relative;

}

.ProductDetailGallery .backdrop .thumbnails .img-holder-backd {
    height: 3.75rem;
    width: 3.75rem;
    position: relative;
}

.ProductDetailGallery .backdrop .thumbnails img {
    height: 3.75rem;
    width: 3.75rem;
}

.MuiBadge-badge,
.MuiBadge-standard {
    background-color: var(--blue);
    font-family: inherit;
    font-weight: 700;
}

/* Mobile Gallery */
.productDetail-mobile-gallery {
    position: relative;
    width: 100%;
}

.productDetail-mobile-gallery img {
    width: 100%;
    aspect-ratio: 1;
}

.productDetail-mobile-gallery button {
    position: absolute;
}

.productDetail-mobile-gallery .icon-button-prev {
    left: 0.8rem;
    top: 50%;
    transform: translateY(-50%);
}

.productDetail-mobile-gallery .icon-button-next {
    right: 0.8rem;
    top: 50%;
    transform: translateY(-50%);
}

