.CustomerManagementOuter{
    width: 100%;
    height: 100%;
}

.CustomerManagementInner{
    padding-top: 1.5em;
    width: 100%;
    height: 37.625em;
    background-color: #DBDFFD;
}

.CustomerManagement{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.customerManagement-title{
    margin: 0;
    font-family: Inter;
    font-size: 1.3em;
    padding: 1.5em 0;
    margin-left: -3em;
}


.CustomerManagementBtnWithSearchbar{
    width: 40%;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: -5em;
}

.customerManagementTitleWithButton{
    margin: 1.5em 0 1.5em 11.5em;
    width: 75%;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
