.Catalogouter{
    display: grid;
    grid-template-columns: 10em 1fr;
    height : 80%;
}

.grid{
    margin-top: 5em;
    margin-left: 10em;
    margin-bottom: 5em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: -5em;
    row-gap: 3em;
}

.card{
    display: flex;
    
    align-items: center;
    
    
    
}

.sidebar{
    
    background-color:#DBDFFD;
    width: 15em;
    float: left;
    padding-top: 3em;
    line-height: 3em;
}

.content{
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    

}

.label{
    margin-left: -3em;
}