.Catalogouter{
    display: grid;
    grid-template-columns: 10em 1fr;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 16px;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar{
    
    background-color: blue;
    width: 5em;
    float: left;
}