.orderDetailsOuter{
    display: flex;
    background-color: #f1f1f1;
}

.body{
    display: flex;
    flex-direction: row;
}

.orderDetailsFilter{
    width: 14.375em;
    height: 36.03em;
    background-color: #646FD4;

}

.orderDetailsInner{
    width : 78.5em;
    height: 33em;
    margin: 1.5em 0 0 1em;
    background-color: #f3f3f3;
}

/* .searchAndButtons{
    display: flex;
    width: 81.25em;
    padding: 0.5em 0 0 0;
    justify-content: space-between;
}

.PendingOrdersSearch{
    display: flex;
    align-items: center;
    padding: 0 0 0 2em;
}

.PendingOrdersButtons{
    display: flex;
    align-items: center;
    width: 15.625em;
    justify-content: space-between;
    padding: 0 1.95em 0 0;
} */
.Button1{
    margin-top: 2em;
    margin-bottom: 2em;


}

.table1{
    margin-top: 1em;
    margin-left: 9em;
    margin-right: 2em;

}

.updateFormbox{
    background-color: white;
    width:48em;
    height:30em;
    /*height: 100%;*/
    overflow-x: clip;
    overflow-y: auto;
    border-radius : 0.2em;
    margin-left: 15em;
    margin-top: 0.5em;

}

.label{
    font-weight: Bold;
    font-size:medium;
    width:6em;
    text-align: left;

}



.textSection{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: -8em !important;



}

.UpdateformButtons{
    display: flex;
    margin-top: 4em;
    margin-left: 12.5em;
}