.UpdateCustomersOuter{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90%;
    background-color: #DBDFFD;
}

.UpdateCustomersInner{
    display: flex;
    align-items: center;
    width: 92.875em;
    height: 34em;
    background-color:rgb(240, 240, 245);
    margin-top: 5em;
    margin-bottom: 5em;
    margin-left: 3em;
    margin-right: 3em;
    border-radius: 0.5em;
    margin-left: 5em;
    margin-right: 5em;

}


.UpdateCustomerForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25em;
    height: 20em;
    padding: 1em;
    border-radius: 0.5em;
    flex: 2;
    justify-content: center;
    margin-top: 5em;
    margin-right: 10em;
  
}

.UpdateCustomerFormField{
    width: 38em;
    height: 3.25em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 2em;
}

.UpdateCustomerTextField{
    padding: 0 0 0 1em;
    margin-left: 4em;
}

.UpdateCustomerTextField h4{
    font-family: Inter;
    font-weight: 700;
    font-size: 0.8em;
}

.UpdateCustomerTextInput{
    margin-left: 3em;
   
}

.UpdateCustomerButtonField{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    margin-left: 13em;
    margin-top: 1.5em;
}



.updateAvatar {
    flex: 1;
    margin-left: 16em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    margin-top: 1em;
}
.UpdateTopicName{
    margin-left: 13em;
    

}