.viewSupplierOuter{
    background-color: rgba(219, 223, 253, 0.8);
}

.viewSupplierInner{
    height: 37.5em;
    padding: 1.5em 0 0 0;
}

.title{
    text-align: left;
    margin-bottom: -2em;
    margin-left: 9.5em;
}

.viewSupplierButtons{
    display: flex;
    align-items: center;
    justify-content: right;
    margin-left: 62.5em;
}

::-webkit-scrollbar {
    width: 11px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #cacad0;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(175, 175, 178, 0.74);
}