.adminLoginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.tabPanel {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

.nav-link {
    margin: 0 0.5em;
}

.bodyContainer {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tab-pane {
    width: 100%;
}

.form-outline {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.form-outline label {
    width: 120px; /* Adjust the width as needed */
    text-align: right;
    margin-right: 1em;
}

.form-outline input {
    flex: 1;
}

.buttonContainer {
    display: flex;
    justify-content: center;
}

.error-message {
    color: red;
    font-size: 0.875em;
    margin-top: 0.25em;
}

.form-outline label {
    width: 100px;
    text-align: left;
    margin-right: 1em;
}

.form-outline input {
    flex: 1;
    width: calc(100% - 120px);
}

