.viewInventoryOuter{
    display: flex;
}

.viewInventoryFilter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 14.375em;
    height: 39.5em;
    background-color: #646FD4
}

.itemCategoryFilter{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemAvailabilityFilter{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.applyButton{
    margin: 3em 0 0 0;
}

.filterHeader h2{
    color: rgba(255, 255, 255, 0.8);
    text-decoration: underline;
    font-family: inter;
}

.itemCategoryTopic h5{
    color: rgba(255, 255, 255, 0.8);
    font-family: inter;
}

.itemAbailabilityTopic h5{
    color: rgba(255, 255, 255, 0.8);
    font-family: inter;
}

.viewInventoryInner{
    width: 81.25em;
    height: 36.03em;
    background-color: rgba(219, 223, 253, 0.8);
    padding: 1.5em 0 0 0;
}

.searchAndButtons{
    display: flex;
    width: 81.25em;
    padding: 0.5em 0 0 0;
    justify-content: space-between;
}

.viewInventorySearch{
    display: flex;
    align-items: center;
    padding: 0 0 0 2em;
}

.viewInventoryButtons{
    display: flex;
    align-items: center;
    width: 15.625em;
    justify-content: space-between;
    padding: 0 1.95em 0 0;
}

.itemTable{
    padding: 2em 0 0 2.5em;
}

table {
    position: relative;
}

thead {
    position: sticky;
    top: 0;
    background-color: #f1f1f1;
    z-index: 1;
}

::-webkit-scrollbar {
    width: 11px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #cacad0;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(175, 175, 178, 0.74);
}