.addSupplierOuter{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.addSupplierInner{
    min-width: 97.5%;
    height: 50em;
    background-color: #DBDFFD;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.supplierForm{
    margin: 5em 0;
    width: 40em;
    height: 40.625em;
    background-color: #FFFFFF;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.supplierInput{
    width: 20em;
}


label{
    padding-right: 50px;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.btn-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.btn{
    width: 7.5em;
    margin: 0 20em;
}
