.customerProfileManagementOuter{
    width: 100%;
    height: 100%;
}

.customerProfileManagementInner{
    padding-top: 1.5em;
    width: 100%;
    height: 37.5em;
    background-color: #DBDFFD;
}

.customer-profile{
    padding: 0 0 1.5em 2.5em;
    width: 80%;
    height: 30em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.customer-profile-details{
    margin: 5em 0 0 0;
    height: 100%;
    width: 35em;
}

.customerProfileManagementTopic h2{
    font-family: Inter;
    margin: 1.45em 0 0 0;
}

.customerProfileManagementDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20em;
    width: 100%;
    padding: 1em;
    margin-right: 5em;
    margin-top:2em ;
    background-color: white;
    border-radius: 0.5em;
    justify-content: center;

}

.formField{
    width: 30em;
    height: 3.25em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
   
}

.textField{
   margin-left: 2em;
    margin-right: 1em;
    width: 7em;
    height: 3.25;
    align-items: self-start;
    

}

.textField h4{
    font-family: Inter;
    font-weight: 700;
    font-size: 0.8em;
}

.inputData{
    width: 10em;
    height: 3.25em;
    text-align: left;
    margin-left: 1em;
   
}

.inputData h5{
    font-family: Inter;
    font-weight: 500;
    font-size: 0.65em;
}

.refundButtonField{
    width: 38em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    margin: 1.25em 0 0 0;
}



.avatar {
    margin-top: 2em;
    margin-left: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    margin-right:2em;

}

.buttonStack {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5em;
    margin-right: 6.5em;
}

.profileName{
    margin-top: 1.5em;
    
    
}