.generatedCustomerRefundRequestOuter{
    width: 100%;
    height: 100%;
}

.generatedCustomerRefundRequestInner{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    min-height: 42.5em;
    background-color: #DBDFFD;
}

.generatedRefundRequestTopic h2{
    font-family: Inter;
    padding-top: 1.5em;
}

.customerRefundRequestDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 38em;
    margin: 1.15em 0 1em 0;
    padding: 1.75em 0 1.85em 0;
    background-color: white;
    border-radius: 0.5em;
}

.customerRefundFormField{
    width: 20em;
    height: 3.25em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.customerRefundTextField h5{
    margin-top: 3.5em;
}

.textField{
    padding: 0 0 0 1em;
}

.textField h5{
    font-family: Inter;
    font-weight: 600;
    font-size: 0.8em;
}

.customerRefundInputData{
    width: 8em;
    text-align: left;
}

.customerRefundInputData h6{
    font-family: Inter;
    font-weight: 680;
    font-size: 0.8em;
    color: #0a0ada;
}

.refundButtonField{
    width: 38em;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    margin: 1.25em 0 0 0;
}