.CustomerProfileOuter{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.CustomerProfileInner{
    width: 95%;
    height: 40.625em;
    background-color: #DBDFFD;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.title{
    text-align: left;
    margin-left: -75%;
}
