.addSupplierModel{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30em;
    height: 35em;
    padding: 0.25em 0 0 0;
    background-color: #DBDFFD;
    border-radius: 0.5em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.addSupplierModel h2{
    font-family: Inter;
    padding: 1.25em 0 0 0;
}

.addSupplierForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 25em;
    overflow-y: auto;
}

.addSupplierformField{
    width: 27.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0.1em 0 0 0;
}

.addSupplierformField h5{
    font-family: Inter;
    font-weight: 600;
    font-size: 0.75em;
}

.addSupplierForm{
    margin-top: 0.3em;
}

.addSupplierformFieldButtons{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 16.25em;
    justify-content: space-between;
    margin: 1.4em 0 0 0;
    padding-bottom: 3em;
}