.adminLoginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.tabPanel {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

#pills-login, #pills-register{
    padding: 1em;
}

.adminForm{
    max-height: 25em;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-link {
    margin: 0 0.5em;
}

.nav-link.active {
    background-color: #007bff;
    color: white;
}

.nav-link:hover {
    background-color: #0056b3;
    color: white;
}

.bodyContainer {
    margin: 1.5em;
    padding: 1.5em;
    max-width: 450px;
    border-radius: 0.75em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #86afdd
}

.tab-pane {
    width: 100%;
}

.form-outline {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttonContainer {
    display: flex;
    justify-content: center;
}

.error-message {
    color: red;
    font-size: 0.875em;
    margin-top: 0.25em;
    text-align: center;
}
