.adminLoginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.tabPanel {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

.nav-link {
    margin: 0 0.5em;
}

.bodyContainer {
    width: 100%;
    max-width: 400px; /* Set a max-width for the form container */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tab-pane {
    width: 100%;
}

.form-outline {
    margin-bottom: 1em;
    width: 100%;
}

.buttonContainer {
    display: flex;
    justify-content: center;
}

.error-message {
    color: red;
    font-size: 0.875em;
    margin-top: 0.25em;
}
