.adminLoginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.tabPanel {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

.nav-link {
    margin: 0 0.5em;
}

.nav-link.active {
    background-color: #007bff;
    color: white;
}

.nav-link:hover {
    background-color: #0056b3;
    color: white;
}

.bodyContainer {
    margin: 1.5em;
    padding: 1.5em;
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ddddd8;
}

.tab-pane {
    width: 100%;
}

.form-outline {
    margin-bottom: 1em;
    width: 100%;
}

.buttonContainer {
    display: flex;
    justify-content: center;
}

.error-message {
    color: red;
    font-size: 0.875em;
    margin-top: 0.25em;
}
