.MainContainer{
display: flex;
flex-direction: row;
height: 100vh;
position: relative;

}


.LeftContainer{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: white;
    background-size:cover ;
}

.RightContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: #646FD4;
}

#login{
    margin-bottom: 1.75em;
}

.loginForm {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #DBDFFD;
    width:60%;
    height:75% ;
}

.loginInnerContainer{
    display: flex;
    flex-direction: column;
}

.row {
    margin-bottom: 2.5em;
}

.loginInput {
    width: 50%;
}

label{
    padding-right: 0.8em;
}

.btn-row {
    display: flex;
    justify-content: center;
}

.image{
display: flex;
flex-direction: column;
align-items: center;
width: 35em;
margin-bottom: 3em;

}

.mainTitle{
  font-weight: 2em;
  font-size: 3.5em;
  align-items: center;
  color: rgb(6, 6, 63);
  margin-top: 1em;

 
}




