.customerRefundRequestOuter{
    width: 100%;
    height: 100%;
}

.customerRefundRequestInner{
    display: flex;
    flex-direction: column;
    align-items: center;
<<<<<<< HEAD
    height: auto;
    min-height: 41.5em;
    background-color: #eaecff;
=======
    height: 47em;
    background-color: #DBDFFD;
>>>>>>> d406771 (changed)
}

.customerRefundRequestTopic h2{
    font-family: Inter;
    margin: 2.45em 0 1em 0;
}

.customerRefundRequestForm{
    margin: 1.5em 0 0 0;
}

.customerFormField{
    width: 30em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.customerRefundButtonField{
    display: flex;
    flex-direction: row;
    align-items: center;
        justify-content: center;
}

.customerRefundRequestButtons{
    width: 16.5em;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0.75em 0.5em 0 0;
}
