.customerRefundRequestsModel{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30.5em;
    height: 35.75em;
    padding: 0.25em 0 0 0;
    background-color: #DBDFFD;
    border-radius: 0.5em;
}

.customerRefundRequestsModel h2{
    font-family: Inter;
    padding: 1.25em 0 0 0;
}

.customerRefundRequestsForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 35.75em;
    overflow-y: auto;
}

.customerRefundRequestsFormField{
    width: 27.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.25em!important;
}

.customerRefundRequestsFormField h5{
    font-family: Inter;
    font-weight: 600;
    font-size: 0.75em;
}

.customerRefundRequestsForm{
    margin-top: 0.3em;
}

.customerRefundRequestsFormFieldButtons{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 16.25em;
    justify-content: space-between;
    margin: 2em 0 0 0;
    padding-bottom: 3em;
}