.UpdateCustomersOuter{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90%;
}

.UpdateCustomersInner{
    display: flex;
   
    align-items: center;
    width: 92.875em;
    height: 32em;
    background-color: #DBDFFD;
    margin: 1.5em 0 0 0;
    border-radius: 0.5em;
    
}


.UpdateCustomersForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
  width: 50%;
    padding: 2em;
    margin-left: 10em;
    background-color: white;
    border-radius: 0.5em;
   flex: 2;
   justify-content: center;
   
}

.formField{
    width: 20em;
    height: 3.25em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.textField{
    padding: 0 0 0 1em;
}

.textField h4{
    font-family: Inter;
    font-weight: 700;
    font-size: 0.8em;
}



.UpdateCustomerButtonField{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    margin: 1.25em 0 0 0;
}



.avatar {
    flex: 1;
    /*margin-right: 250px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em; 
}
