.UpdateCustomerOuter{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color:rgb(240, 240, 245);
}

.UpdateCustomerInner{
    display: flex;
    align-items: center;
    width: 80%;
    height: 30em;
    background-color:rgb(240, 240, 245);
    border-radius: 0.5em;
    margin: 3em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.UpdateCustomerProfile{
    background-color: #b8d5f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35%;
    height: 100%;
    border-radius: 0.5em 0 0 0.5em;
    border-right-style: solid;
    border-color: rgb(140, 186, 255);
    border-width: 0.6em;
}

.UpdateCustomerForm{
    padding-top: 2.5em;
    width: 65%;
    height: 100%;
    border-radius:  0 0.5em 0.5em 0;

}

.UpdateCustomerFormField{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 38em;
    height: 3.25em;
    margin-left: 2em;
    margin-top: 1.25em;
}

.UpdateCustomerTextField{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 0 0 1em;
    margin-left: 4em;
    font-size:1.2em;
    font-weight:700 ;
}


.UpdateCustomerTextInput{
    margin-top: -2.5em;
    margin-left: 1em;
}

.UpdateCustomerButtons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5em;
}