.inventoryLandingOuter{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 70px 0;
}

.inventoryLandingInner{
    width: 70%;
    height: 34.625em;
    background-color: #DBDFFD;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cardRow{
    display: flex;
    flex-direction: row;
}

.landingCard{
    padding: 0 30px;
    margin: 0 0 50px 0;
}

.secondCardRow{
    margin: 0;
}