.removeCustomersOuter{
    width: 100%;
    height: 100%;

}

.removeCustomersInner{
    width: 100%;
    height: 40.625em;
    background-color: #DBDFFD;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.removeCustomersTopicWithButton{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75em;
    margin: -1.1em 0 1em 0;
    
}

.removeCustomersTopic h2{
    margin: 0;
    font-family: Inter;
    font-size: 1.3em;
    padding: 1.5em 0;
    
}

.removeCustomersBtnWithSearchBar{
    width: 40%;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}