.customerRefundRequestOuter{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.customerRefundRequestInner{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 92.875em;
    height: 32.5em;
    background-color: #DBDFFD;
    margin: 1.563em 0 0 0;
    border-radius: 0.5em;
}

.customerRefundRequestTopic h2{
    font-family: Inter;
    margin: 2em 0 0 0;
}

.refundRequestForm{
    margin: 1.5em 0 0 0;
}

.formField{
    width: 34em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0.1em 0 0 0;
}

.refundButtonField{
    width: 34em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0.1em 0 0 0;
}

.refundRequestButtons{
    width: 17.5em;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0.75em 0.5em 0 0;
}

.textField h5{
    font-family: Inter;
    font-weight: 600;
    font-size: 0.9em;
}