.customerRefundsOuter{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.customerRefundsInner{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 92.875em;
    height: 37.5em;
    height: 37.5em;
    background-color: #DBDFFD;
    border-radius: 0.5em;
}

.customerRefundTopicWithButton{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 87em;
    margin: 2em 0 2em 0;
}

.customerRefundTopic h3{
    margin: 0;
    font-family: Inter;
    font-size: 1.3em;
}