.SupplierProfileOuter{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(240, 240, 245);
}

.SupplierProfileInner{
    display: flex;
    align-items: center;
    width: 80%;
    height: 30em;
    background-color: rgb(240, 240, 245);
    border-radius: 0.5em;
    margin: 3em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.SupplierProfile{
    background-color: #b8d5f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35%;
    height: 100%;
    border-radius: 0.5em 0 0 0.5em;
    border-right-style: solid;
    border-color: rgb(152, 187, 246);
    border-width: 0.6em;
}

.SupplierProfileForm{
    width: 65%;
    height: 100%;
    border-radius:  0 0.5em 0.5em 0;
}

.title{
    font-size: 1em;
    font-weight: bold;
    
}

.SupplierProfileFormField{
    display: flex;
    padding: 1.25em 0;
}

.SupplierProfileField{
    width: 20em;
    text-align: left;
    margin-top: 0.2em;
}

.SupplierProfileInput{
    margin-left: 2.5em;
}

.SupplierProfileButtons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}
