.supplierProfileManagementOuter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 36em;
    background-color: #DBDFFD;
}

.supplierProfileManagementInner {
    width: 80%;
    height: 25em;
    border-radius: 0.5em;
    background-color: #ffffff;
}

.supplierSearchPanel {
    margin-left: 57.5em;
}

.supplier-profile {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.supplierAvatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25em;
    width: 45%;
}

.supplier-profile-details {
    display: grid;
    grid-template-columns: 30% auto;
    width: 50%;
}

.grid-item{
    padding: 20px;
    text-align: left;
    font-weight: bold;
}

.supplierProfileManagementTopic h2 {
    font-family: Inter;
}

.supplierProfileManagementDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5em auto 2em auto;
    width: 60%;
}

.supplierFormField {
    width: 100%;
    height: 3.25em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0 2em;
}

.supplierTextField h3 {
    font-family: Inter;
    font-weight: 700;
    font-size: 0.8em;
}

.supplierInputData {
    width: 50%;
    padding: 0 1em;
}

.supplierInputData h4 {
    font-family: Inter;
    font-weight: 500;
    font-size: 0.65em;
}

/*.buttonStack {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    margin-top: 1.5em;*/
/*}*/
