.placeOrderModel{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 37.5em;
    height: 38.75em;
    padding: 0.25em 0 0 0;
    background-color: #DBDFFD;
    border-radius: 0.5em;
}

.placeOrderModel h2{
    font-family: Inter;
    padding: 1.25em 0 0 0;
}

.placeOrderForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.3em;
}

.placeOrderformField{
    width: 27.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0.1em 0 0 0;
}

.placeOrderformField h5{
    font-family: Inter;
    font-weight: 600;
    font-size: 0.75em;
}

.placeOrderformFieldButtons{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 16.25em;
    justify-content: space-between;
    margin: 1.4em 0 0 0;
    padding-bottom: 3em;
}

#items{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
