.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 6.875em;
    background-color: #242F9B;
    z-index: 5;
}

.logoName{
    margin: 0;
    padding: 0;
}

.logoName h5{
    color: white;
    font-family: Inter;
    margin: 0;
    padding: 1.375em 0 0.625em 0;
}

.footerLinks{
    padding-bottom: -1.25em;
}

.footerLinks a{
    color: white;
    font-family: Inter;
    font-size: 0.625em;
    padding: 1.563em 0.938em 0px 0.938em;
}

.copyright p{
    color: white;
    font-family: Inter;
    font-size: 0.5em;
    padding: 0.313em 0 0 0;
}