.ResetPasswordModal{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30em;
    height: 12.5em;
    padding: 0.25em 0 0 0;
    background-color: #DBDFFD;
    border-radius: 0.5em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.ResetPasswordModalFormField{
    width: 27.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.ResetPasswordInput{
    display: flex;
    flex-direction: row;
    margin-top: 1.75em;
}

.ResetPasswordModalFormField {
    font-family: Inter;
    font-weight: 600;
    font-size: 0.75em;
}

.ResetPasswordModalForm{
    margin-top: 0.3em;
}

.ResetPasswordFormButtons{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 16.25em;
    justify-content: space-between;
    margin: 0.5em 0 0 0;
    padding-bottom: 3em;
}